<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
    
<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">-->

    <style>
      .plot-container {
  width: 98%; /* or 80vw or any other percentage value */
  height: 450px; /* or any other viewport unit value */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
    </style>
  </head>
  <body><div style="display: flex;align-items: center; justify-content: center;flex-direction: column;">

    <div style="width: 80%;    padding: 41px;">
      <h1> Temprature Map</h1>
      <div class="plot-container">
      {{ temp_plot | safe }}
      </div>
    </div>
    <div  style="width: 80%;    padding: 41px;">
      <h1> Humidity Map</h1>
      <div class="plot-container">
      {{ humi_plot | safe }}
      </div>
    </div>

  </div>
  </body>
</html>
